<style>
        .container{
            width: 45%;
            height:100vh;
            border: 1px solid black;
            margin: auto;
        }
        *{
            margin: 0;
            padding: 0;
        }
        .heading{
            font-size: xx-large;
            display: flex;
            justify-content: center;
        }
        .inp{
            margin-left: 2px;
            width: 78%;
            height: 4%;
            font-size: x-large;
        }
        .btn{
            width: 20%;
            height: 5%;
            font-size: x-large;
        }
        .list{
            margin-left: 3px;
            font-size: xx-large;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            margin-right: 5px;
        }
        .btn-1{
            width: 34px;
            height: 34px;
            font-size: 20px;
        }
        .taskList{
            list-style: none;
        }
        li:first-child .btnGroup .upBtn,
        li:last-child .btnGroup .downBtn{
            display: none;
        }
    </style>